:root {
  --bg-dark-mode: #24292d;
  --color-dark-mode: white;
  --bg-header-dark-mode: #282e32;
  --transitiondrawer: 400ms;
  --textDark: white;
}

/*GridLineChart*/

@media (min-width: 992px) {
  .gridLineChart {
    height: 400px;
  }
}

@media (max-width: 992px) {
  .gridLineChart {
    height: 700px;
  }
  .gridPieChart {
    height: 900px;
  }
}

/* This Is For NavBar Color */

nav div .MuiPaper-elevation {
  background-color: var(--bg-dark-mode);
  color: var(--color-dark-mode);
  overflow-y: auto;
  overflow-x: hidden;
  transition: var(--transitiondrawer);
}

.MuiDrawer-paper {
  background-color: var(--bg-dark-mode) !important;
  color: var(--color-dark-mode) !important;
  transition: var(--transitiondrawer);
}

.svgDiv {
  transition: 400ms;
}

.svgRotate {
  transform: rotate(-180deg);
}

/* For NavBar Icon Color */

nav div svg,
.MuiDrawer-paper svg {
  color: var(--color-dark-mode);
  font-size: 21px;
}

/* Header */

header {
  background-color: var(--bg-header-dark-mode) !important;
  transition: var(--transitiondrawer) !important;
}

/*For Menu*/

.css-10nakn3-MuiModal-root-MuiPopover-root-MuiMenu-root,
.css-6f6ff7-MuiModal-root-MuiPopover-root-MuiMenu-root {
  z-index: 1 !important;
}

/*Main Component*/

.MuiBox-root {
  background-color: #1a1d21;
  min-height: 100vh;
  transition: var(--transitiondrawer);
}

/* Box */

.box {
  background-color: #282e32;
  padding: 10px;
  border-radius: 7px;
}

/*Text*/

.textTitlePage {
  color: var(--textDark);
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 40px !important;
  letter-spacing: 1px;
}